@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* This sets the main background to Green */
  --background: 120 100% 25%; 
  --foreground: 0 0% 100%;
  
  /* This sets the buttons/boxes to Blue */
  --primary: 219 61% 49%;
  --primary-foreground: 0 0% 100%;
  
  --card: 219 61% 49%;
  --card-foreground: 0 0% 100%;
  
  --border: 219 61% 49%;
  --input: 219 61% 49%;
  --ring: 219 61% 49%;
  --radius: 0.5rem;
}

.dark {
  --background: 120 100% 25%;
  --foreground: 0 0% 100%;
  --primary: 219 61% 49%;
}
